# General Use PHP snippets
# Ideas mod from various repositories 

snippet dvd "dieVarDump"
    die(var_dump(${1}));  //TODO remove this "debug" point
endsnippet

snippet kv "Key Value Array Style" i
'${1:key}' => '${2:value}', $0
endsnippet
